In [76]:
import csv
count = 0
In2018 =[]
with open('Arrest.csv') as file:
    csv_reader_object = csv.reader(file)
    for row in csv_reader_object:
        if "/2018" in row[1]:
            count += 1
            In2018.append(row)
        
print(count)

104277

In [77]:
import pandas as pd
DF = pd.DataFrame(In2018)
#DF.columns["Report ID", "Arrest Date", "Time", "Area ID", "Area Name", "Reporting", "Age", "Sex Code", "Descent Code", "Charge Group Code", "Charge Group Desc", "Arrest Type Code", "Charge", "Charge Description", "Address", "Cross Street", "Location"]
DF[4].value_counts().max()

10951

In [78]:
DF.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,5213460,01/24/2018,1930,06,Hollywood,0668,29,M,H,10,Fraud/Embezzlement,F,530.5(A)PC,GET CREDIT/ETC OTHER'S ID,ST ANDREWS,FOUNTAIN,"(34.0949, -118.3109)"
1,5257944,03/15/2018,0310,07,Wilshire,0743,33,F,O,01,Homicide,F,191.5(B)PC,VEH MANSLAUGHTR/OPER VESSEL DUI & DUR FEL,OLYMPIC,MASSELIN,"(34.0574, -118.3547)"
2,5328813,06/01/2018,1800,03,Southwest,0356,44,F,B,16,Narcotic Drug Laws,F,11379(A)HS,TRANSPORT/SELL CONTROLLED SUBSTANCE,1600 W 36TH PL,,"(34.0219, -118.3061)"
3,5336331,06/10/2018,0200,13,Newton,1364,23,M,H,12,Weapon (carry/poss),F,25400(A)2PC,CARRYING CONCEALED WEAPON UPON PERSON,1200 E 50TH ST,,"(33.998, -118.2543)"
4,5360731,07/07/2018,2330,18,Southeast,1832,32,M,B,12,Weapon (carry/poss),F,29800(A)1PC,POSS F/ARM BY CONVICTED FELON/ADDICT/ETC,10700 S MAIN ST,,"(33.9392, -118.2739)"

In [79]:
import numpy as np
age=[]
for index, row in DF.iterrows():
    if row[10] == 'Vehicle Theft' or row[10]== 'Robbery' or row[10] == 'Burglary' or row[10] == 'Receive Stolen Property':
        age.append(int(row[6]))

a = np.array(age)
p = np.percentile(a, 95)
print(p)

52.0

In [80]:
age1=[]
age2=[]
age3=[]
age4=[]
age5=[]
age6=[]
age7=[]
age8=[]
age9=[]
age10=[]
age11=[]
age12=[]
age13=[]
age14=[]
age15=[]
age16=[]
age17=[]
age18=[]
age19=[]
age20=[]
age21=[]
age22=[]
age23=[]
age24=[]
age25=[]
age26=[]
age27=[]

for index, row in DF.iterrows():
    if row[10] == 'Fraud/Embezzlement':
        age1.append(int(row[6]))
    if row[10] == 'Homicide':
        age2.append(int(row[6]))
    if row[10] == 'Narcotic Drug Laws':
        age3.append(int(row[6]))
    if row[10] == 'Weapon (carry/poss)':
        age4.append(int(row[6]))
    if row[10] == 'Other Assaults':
        age5.append(int(row[6]))
    if row[10] == 'Miscellaneous Other Violations':
        age6.append(int(row[6]))
    if row[10] == 'Vehicle Theft':
        age7.append(int(row[6]))
    if row[10] == 'Aggravated Assault':
        age8.append(int(row[6]))
    if row[10] == 'Driving Under Influence':
        age9.append(int(row[6]))
    if row[10] == 'Robbery':
        age10.append(int(row[6]))
    if row[10] == 'Burglary':
        age11.append(int(row[6]))
    if row[10] == 'Vehicle Theft':
        age12.append(int(row[6]))
    if row[10] == 'Aggravated Assault':
        age13.append(int(row[6]))
    if row[10] == 'Against Family/Child':
        age14.append(int(row[6]))
    if row[10] == 'Moving Traffic Violations':
        age15.append(int(row[6]))
    if row[10] == 'Larceny':
        age16.append(int(row[6]))
    if row[10] == 'Forgery/Counterfeit':
        age17.append(int(row[6]))
    if row[10] == 'Receive Stolen Property':
        age18.append(int(row[6]))
    if row[10] == 'Sex (except rape/prst)':
        age19.append(int(row[6]))
    if row[10] == 'Prostitution/Allied':
        age20.append(int(row[6]))
    if row[10] == 'Liquor Laws':
        age21.append(int(row[6]))
    if row[10] == 'Drunkeness':
        age22.append(int(row[6]))
    if row[10] == 'Rape':
        age23.append(int(row[6]))
    if row[10] == 'Disturbing the Peace':
        age24.append(int(row[6]))
    if row[10] == 'Disorderly Conduct':
        age25.append(int(row[6]))
    if row[10] == 'Gambling':
        age26.append(int(row[6]))
    if row[10] == 'Federal Offenses':
        age27.append(int(row[6]))

In [81]:
out=[]
ages1 = statistics.mean(age1)
out.append(ages1)
ages2 = statistics.mean(age2)
out.append(ages2)
ages3 = statistics.mean(age3)
out.append(ages3)
ages4 = statistics.mean(age4)
out.append(ages4)
ages5 = statistics.mean(age5)
out.append(ages5)
ages6 = statistics.mean(age6)
out.append(ages6)
ages7 = statistics.mean(age7)
out.append(ages7)
ages8 = statistics.mean(age8)
out.append(ages8)
ages9 = statistics.mean(age9)
out.append(ages9)
ages10 = statistics.mean(age10)
out.append(ages10)
ages11 = statistics.mean(age11)
out.append(ages11)
ages12 = statistics.mean(age12)
out.append(ages12)
ages13 = statistics.mean(age13)
out.append(ages13)
ages14 = statistics.mean(age14)
out.append(ages14)
ages15 = statistics.mean(age15)
out.append(ages15)
ages16 = statistics.mean(age16)
out.append(ages16)
ages17 = statistics.mean(age17)
out.append(ages17)
ages18 = statistics.mean(age18)
out.append(ages18)
ages19 = statistics.mean(age19)
out.append(ages19)
ages20 = statistics.mean(age20)
out.append(ages20)
ages21 = statistics.mean(age21)
out.append(ages21)
ages22 = statistics.mean(age22)
out.append(ages22)
ages23 = statistics.mean(age23)
out.append(ages23)
ages24 = statistics.mean(age24)
out.append(ages24)
ages25 = statistics.mean(age25)
out.append(ages25)
ages26 = statistics.mean(age26)
out.append(ages26)
ages27 = statistics.mean(age27)
out.append(ages27)

from scipy import stats
z = stats.zscore(out)
final = max(z, key=abs)
print(z)
print(final)

[ 0.22482887 -1.02857181  0.39242284 -1.10080377 -0.14650127  0.20588095
 -1.18673455 -0.06285985  0.06351928 -1.82958655 -1.04796182 -1.18673455
 -0.06285985  0.20633426 -0.19929557 -0.22318357 -0.10417057 -0.70687913
  0.56937985 -1.14179775  1.89809716  2.24442757  0.11587602  1.05189673
  1.59268241  1.6118518  -0.14925711]
2.2444275717999855

In [82]:
count2010=0
count2011=0
count2012=0
count2013=0
count2014=0
count2015=0
count2016=0
count2017=0
count2018=0

with open('Arrest.csv') as file:
    csv_reader_object = csv.reader(file)
    for row in csv_reader_object:
        if "/2010" in row[1] and 'F' in row[11]:
            count2010 += 1
        if "/2011" in row[1] and 'F' in row[11]:
            count2011 += 1
        if "/2012" in row[1] and 'F' in row[11]:
            count2012 += 1
        if "/2013" in row[1] and 'F' in row[11]:
            count2013 += 1
        if "/2014" in row[1] and 'F' in row[11]:
            count2014 += 1
        if "/2015" in row[1] and 'F' in row[11]:
            count2015 += 1
        if "/2016" in row[1] and 'F' in row[11]:
            count2016 += 1
        if "/2017" in row[1] and 'F' in row[11]:
            count2017 += 1
        if "/2018" in row[1] and 'F' in row[11]:
            count2018 += 1

from statistics import mean
import numpy as np
34948,35974,36880,35709,45878,47882,50610,49830,51157
xs = np.array([2018,2017,2016,2015,2014,2013,2012,2011,2010], dtype=np.float64)
ys = np.array([34948,35974,36880,35709,45878,47882,50610,49830,51157], dtype=np.float64)

def best_fit_slope_and_intercept(xs,ys):
    m = (((mean(xs)*mean(ys)) - mean(xs*ys)) /
         ((mean(xs)*mean(xs)) - mean(xs*xs)))
    
    b = mean(ys) - m*mean(xs)
    
    return m, b

m, b = best_fit_slope_and_intercept(xs,ys)
print(m,b)
predict_x = 2019
predict_y = (m*predict_x)+b
print(predict_y)

-2433.9500000559246 4945182.855668188
31037.805555276573

In [85]:
import math

def haversine(coord1, coord2):
    R = 6371000  # Earth radius in meters
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    
    phi1, phi2 = math.radians(lat1), math.radians(lat2) 
    dphi       = math.radians(lat2 - lat1)
    dlambda    = math.radians(lon2 - lon1)
    
    a = math.sin(dphi/2)**2 + \
        math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2
    
    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))

In [86]:
from ast import literal_eval
cord1 = (34.050536, -118.247861)

count1 = 0
for index, row in DF.iterrows():
    cord2 = literal_eval(row[16])
    if haversine(cord1, cord2) < 2000.00:
        count1 += 1
        
print(count1)

11461

In [5]:
import csv
count2019 = 0
till2019 =[]
with open('Arrest.csv') as file:
    csv_reader_object = csv.reader(file)
    for row in csv_reader_object:
        if "/2019" not in row[1] and row[9] != "99":
            count2019 += 1
            till2019.append(row)
        
print(len(till2019))

1231621

In [10]:
import pandas as pd
DF2 = pd.DataFrame(till2019)
DF2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
1,4738682,08/01/2016,1835,06,Hollywood,0645,32,F,O,10,Fraud/Embezzlement,F,530.5(A)PC,GET CREDIT/ETC OTHER'S ID,1700 N HIGHLAND AV,,"(34.1006, -118.3417)"
2,4738771,08/01/2016,1835,06,Hollywood,0645,44,M,O,10,Fraud/Embezzlement,F,530.5(A)PC,GET CREDIT/ETC OTHER'S ID,1700 N HIGHLAND AV,,"(34.1006, -118.3417)"
3,4988057,05/14/2017,2215,07,Wilshire,0755,48,M,W,11,Receive Stolen Property,F,496(A)PC,RECEIVING KNOWN STOLEN PROPERTY >$950,PACKARD,RIDGELEY,"(34.051, -118.3548)"
4,5060090,08/01/2017,2305,18,Southeast,1835,43,M,B,08,Other Assaults,F,422(A)PC,TERRORIZE CAUSING FEAR,10400 ZAMORA AV,,"(33.9424, -118.2517)"

In [17]:
DF2[3].value_counts()

01         121361
06         116479
14          97233
12          67113
03          65862
13          65213
09          64082
02          62744
19          62419
15          60110
20          48307
11          47858
18          46216
05          45514
16          45302
21          42130
04          40194
10          37991
17          37973
07          30249
08          27270
Area ID         1
Name: 3, dtype: int64

In [31]:
#DF2.groupby(DF2[9]).groups(DF2[3]).count

DF2.groupby(9)[DF2[3]].count()

KeyError: "Columns not found: '09', '02', '05', '10', '08', '17', 'Area ID', '21', '13', '18', '07', '16', '15', '03', '11', '19', '20', '06', '14', '12', '01', '04'"